# Python virtual environment
.venv/
venv/
ENV/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Local environment variables (Contains API keys - DO NOT UPLOAD!)
.env

# Local ChromaDB Vector store data (Large local binary files)
backend/chroma_store/
backend/*.zip


# IDE settings files
.vscode/
.idea/

# Large dataset files
datasets/